<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Asssist</title>
	<link rel="stylesheet" type="text/css" href="/css/event.css">
</head>
<body>
	{{> navbar}}
	<main>
		<div class="h1">
			<h1>Events</h1>
		</div>
		<section>
			<h1>College Events</h1>
			<div class="category">
			  <div>
				<h3>event name</a></h3>
				<p>Description of the category</p>
			  </div>
			</div>
			<!-- more categories -->
			<div class="category">
			  <div>	
				<h3>event name 2</a></h3>
				<p>Description of the category</p>
			  </div>
			</div>
		</section>
		<section>
			<h1>Online Events</h1>
			<div class="event">
			  <div>
				<h3>Event Title</h3>
				<p>Description of the event</p>
				<a href="https://example.com/live-event">Watch Now</a> <!-- Added a link to the live event -->
			  </div>
			</div>
			<!-- more live events -->
			<div class="event">
			  <div>
				<h3>Event Title</h3>
				<p>Description of the event</p>
				<a href="https://example.com/live-event">Watch Now</a> <!-- Added a link to the live event -->
			  </div>
			</div>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 My Clist Website</p>
	</footer>
</body>
</html>
