<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Asssist</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body background="/image/profile.avif  ">
   
  {{> navbar   }}
  {{!-- <section>
    <div class="event">
      <div>
          <h3>EVENTS</h3>
          <a href="#">VISIT</a>
      </div>
    </div>
     <div class="event">
      <div>
          <h3>COURSE</h3>
          <a href="#">VISIT</a>
      </div>
    </div>
     <div class="event">
      <div>
          <h3>NEWS</h3>
          <a href="#">VISIT</a>
      </div>
    </div>
  </section>
 --}}



 <section class="white-section" id="pricing">


        <div class="row">
    
          <div class="pricing-column col-lg-4 col-md-6">
            <div class="card">
              <div>
                <h3>EVENTS</h3>
                <a  href="/event" class="btn">Visit</a>
              </div>
               <div>
                <h3>COURSES</h3>
                <a  href="/courses" class="btn">Visit</a>
              </div>
              <div>
                <h3>NEWS</h3>
                <a  href="/news" class="btn">Visit</a>
              </div>
          </div>
    
      </section> 
    
</body>

</html>